workflows/n8n_workflow.json
{
  "name": "Print AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query || $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -300,
        160
      ],
      "id": "1e6df626-d363-4cda-b866-80484ab5fca1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $json.headers.cookie }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -180,
        380
      ],
      "id": "1511f80f-5f0c-4ff2-80c5-ab64cbdd05d9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "path": "ask",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -660,
        160
      ],
      "id": "a0ca93e0-72ff-4a30-9d8b-fb74b2fdb891",
      "name": "Webhook1",
      "webhookId": "a3ffe3df-f1c9-47ef-be29-28111759d2be",
      "notesInFlow": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "ojR5aSO2ien5H0qT",
          "name": "Admin"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        320
      ],
      "id": "9f89a208-3bdd-411a-9f6b-a9d45a8f9388",
      "name": "When chat message received",
      "webhookId": "2e0274f2-f4db-4488-a78f-92f6f8432096"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -340,
        380
      ],
      "id": "319efb9a-cd8e-43bc-af26-4a8d6eb3b45e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PjG6M6yAlenuTAmm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Usa parámetros GET (title, category , price_min o price_max) con formato URL-encoded. Se debe manejar múltiples filtros ejecutando consultas individuales y combinando resultados",
        "url": "=http://backend:7013/books?{filters}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -20,
        380
      ],
      "id": "0cc55d59-3e21-41c7-9890-46cbc65da399",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d632cc97-4714-4fc5-b831-173d2e5c9aab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92cbe56042d66e7ae9acdb6b81578c5d1362347243c896b6bf68d9f9d3e73af5"
  },
  "id": "7TB7gEz2RW5D4izc",
  "tags": []
}